.container{
	margin-top: 20px;
}
h1 {
	font-size: 20px;
	margin-top: 0;
}
h3{
	font-size: 14px;
	font-weight: normal;
	margin-top: 0;
}
h4{
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 5px;
	text-transform: uppercase;
}
.small{
	font-size: 10px;
}
.graphs > div {
	min-height: 420px;
}
.header {
	min-height: 80px;
}
.chart {
	margin-top: 20px;
}
.text-center {
	text-align: center;
}

span.num{
	font-size: 24px;
	font-weight: 700;
}

.chart {

}

#map {
	border: 1px solid #ccc;
	margin-bottom: 10px;
}

@media (min-width: 768px){

}

@media (min-width: 992px){

}

