.container{
	margin-top: 20px;
}
h1 {
	font-size: 20px;
	margin-top: 0;
}
h3{
	font-size: 14px;
	font-weight: normal;
}
h4{
	font-size: 12px;
}
.small{
	font-size: 10px;
}
.graphs > div {
	min-height: 150px;
}
.text-center {
	text-align: center;
}

span.num{
	font-size: 24px;
	font-weight: 700;
}

@media (min-width: 768px){

}

@media (min-width: 992px){

}

