.container{
	margin-top: 20px;
}
h1 {
	font-size: 20px;
	margin-top: 0;
}
h3{
	font-size: 14px;
	font-weight: normal;
	margin-top: 0;
}
h4{
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 5px;
	text-transform: uppercase;
}
.small{
	font-size: 12px;
}
.graphs > div {
	border-bottom: 1px solid #ccc;
	margin-bottom: 15px;
	min-height: 420px;
}
.header {
	min-height: 80px;
}
.text-center {
	text-align: center;
}
.timespan {
	margin-top: 20px;
}
span.num{
	font-size: 24px;
	font-weight: 700;
}
#map {
	border: 1px solid #ccc;
	display: none;
	margin-bottom: 10px;
}
